<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Super Sprinter 3000</title>
<!--        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">-->
    </head>
    <body>
        <h1>Super Sprinter 3000</h1>
        <p><a href="{{ url_for('route_add') }}">Add new User Story</a></p>

        <table>

        <thead>
            <tr><th>Id</th>
                <th>Story Title</th>
                <th>User Story</th>
                <th>Acceptance Criteria</th>
                <th>Business value</th>
                <th>Estimation</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for line in user_stories %}
            <tr>
                <td>{{ line.id }}</td>
                <td id="linetitle">
                    {% if line.title == 'List all User Stories' %}
                        <a href="{{ url_for('route_list') }}">{{ line.title }}</a>
                    {% elif line.title == 'Add new User Stories' %}
                        <a href="{{ url_for('route_add') }}">{{ line.title }}</a>
                    {% elif line.title == 'Update existing User Stories' %}
                        <a href="{{ url_for('route_edit', id_story=3) }}">{{ line.title }}</a>
                    {% else %}
                        {{ line.title }}
                    {% endif %}
                </td>
                <td>{{ line.user_story }}</td>
                <td>{{ line.acceptance_criteria }}</td>
                <td>{{ line.business_value }} point</td>
                <td>{{ line.estimation }} h</td>
            </tr>
            {% endfor %}
        </tbody>
    <p><a href="{{ url_for('route_edit', id_story=3) }}">Update User Story</a></p>
    </body>
</html>
