<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Super Sprinter 3000</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style_list.css')}}">
    </head>
    <body>
        <h1>Super Sprinter 3000</h1>
        <p><a href="{{ url_for('route_add') }}">Add new User Story</a></p>

        <table>

        <thead id ="thead">
            <tr><th>Id</th>
                <th id ="theadid">Story Title</th>
                <th>User Story</th>
                <th>Acceptance Criteria</th>
                <th>Business value</th>
                <th>Estimation</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for line in user_stories %}
            <tr>
                <td>{{ line.id }}</td>
                <td id="linetitle">

                        <a href="{{ url_for('route_edit', id_story=line.id) }}">{{ line.title }}</a>

                </td>
                <td>{{ line.user_story }}</td>
                <td>{{ line.acceptance_criteria }}</td>
                <td>{{ line.business_value }} point</td>
                <td>{{ line.estimation }} h</td>
                <td>{{ line.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </body>
</html>
