{% extends "add.html" %}
{% block title %}Update Story{% endblock %}



<body>
    <h1>Update Story</h1><br>
    <form action="{{ url_for('result') }}" method="post">
        {% block content %}
        {% endblock %}
        <select name="status" id="status_selector">
            {% for status in statuses %}
                <option value="{{country}}" {{'selected' if selected_status==status }}>{{status}}</option>
             {% endfor %}
 </select>

        <input type="submit" value="Edit Story">
</body>
</html>
